
#base_top{
	
	height:90px;		
	background-image:url("../images/bg_top_11.jpg");
	background-repeat: repeat-x;
}

#base_top h1{
	text-align: center;
}
#base_top h5{
	font-size:25px;
}


.top_nav{
	
	height:40px;
	background-image:url("../images/nav_bg.png");
}

.top_ul{
	position: relative;
	
}
li{
	list-style:none;
}
.nav_li{
	float:left;
	list-style:none;
	width:50px;
	border:0px;
}

.nav_li_big{
	float:left;
	list-style:none;
}
.button{
	width:50px;

}


.base_middle{
	width:200px;
	height:300px;
	background-color:black;
}


.base_bottom{
	
	background-color: #F3D4D6;
}
.copy_right{
	padding:0;
	margin:0;
	text-align: center;
	background-color:gray;
}
.no-listy{
	list-style: none;
}