{% extends 'base.html' %}
{% load staticfiles %}


 {% block current_menu %}
                    <ul id="topnav" class="sf-menu">                        
                        <li><a href="{% url 'qihuan:index' %}">首页</a></li>
                        <li  class="current"><a href="{% url 'qihuan:about' %}">相关</a>
                            <ul>
                                <li><a href="{% url 'qihuan:forum' %}">论坛</a></li> 
                                
                                
                            </ul>
                        </li>
                        <li><a href="{% url 'qihuan:reptile' %}">爬虫</a></li>
                        <li><a href="{% url 'qihuan:intelligence' %}">人工智能</a></li>
                        <li><a href="{% url 'blog:index' %}">博客</a></li>
                        <li><a href="#">下载</a></li>  
                        <li><a href="javascript:;">商城</a></li>  
                    </ul><!-- topnav -->
         {% endblock current_menu %}

    
        {% block base_slider %}
        <!-- TITLE -->
        <div id="outertitle">
        	<div class="container">
                <div class="row">
                <div class="twelve columns">
                	<h1 class="pagetitle">关于我们</h1>
                </div>
                </div>
            </div>
        </div>
        <!-- END TITLE -->
        {% endblock base_slider %}
}
        
{% block main_content %}
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">

							<p>非常高兴,您能来我们的网站,想要了解我们.我们愿意把最好的技术,最好的知识,最好的经验分享给您.希望您能在这里学习到东西,找到共鸣,引发您的思考,开阔眼界.</p>
                            <div class="spacer"></div>
							<div class="row">
                            	<div class="two_third columns">
                                	<img src="{% static 'qihuan/images/content/pic.jpg' %}" alt="" />
                                </div>
                                <div class="one_third columns">
                                	<h4>远景</h4>
                                	<ul>
                                        <li>全球定位</li>
                                        <li>国内目标</li>
                                        <li>产品服务</li>
                                        <li>客户体验</li>
                                        <li>资源整合</li>
                                        <li>人力结构</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="separator"></div>
                            
                            <div class="row">
                            	<div class="one_third columns">
                                	<h4>方式</h4>
                                    <p>我们将会加大投入,加大研发,利用新的技术,坚持使用最新的技术,最炫酷的技术,提升您的用户体验.给您最好的服务.</p>
                                    
                                    <p>我们将坚持以人为本,坚持发展是硬道理,绝不固步自封,绝不躺在功劳簿上,挥霍吃喝.我们将一如既往,全力为人民服务,做出自己应当有的责任.</p>
                                    
                                </div>
                                <div class="one_third columns">
                                	<h4>设计理念</h4>
                                    <p>简约,而不简单.简朴,明朗,准确,优美,优雅,重构,清晰.</p>
                                    <ul class="check">
                                        <li>简单的,唯一的</li>
                                        <li>准确的,清晰地</li>
                                        <li>哈哈,客户高兴!</li>                                    
                                    </ul>
                                </div>
                                <div class="one_third columns">
                                	<h4>想象力</h4>
                                    <p>每一个人都有想象力,只不过每个人的发散程度不同,发散方向不同,所以想象的结果不同,这是与每个人的生活环境,生活方式,性格特征所影响的.不分优劣. </p>
                                    
                                    <p>但是大多数的时候,人们总是看到的是普通的,程序的,固定的操作和套路,因此在这种环境和方式中,人们没有时间,没有激发人们散发思维的空间.所以很不幸,想象力被限制.而这里就是提高碰撞的地方,人人的创新都出现了,那么也许小小的碰撞,就会擦出燎原之火!</p>                                
                                </div>
                            </div>
							
                            <div class="separator"></div>
                            
        					<h4>我们的团队</h4>
                            <div class="row team">
                            	<div class="one_fourth columns">
                                	<div class="img-wrapper">
                                        <div class="rollover">
                                        <div class="text-wrapper">
                                            <div class="text">
                                            <ul class="sn-team">
                                            	<li><a href="#" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                                <li><a href="#" title="Twitter"><span class="icon-img twitter"></span></a></li>                                                
                                                <li><a href="#" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                            </ul> 
                                            </div>
                                        </div>
                                        </div>
                                        <img src="{% static 'qihuan/images/content/team1.jpg' %}" alt="" />
                                    </div>
                                	<h5>李虎冲</h5>
                                    <div class="separator dotted"></div>
                                    <p>像老虎一样凶猛,迅捷,捕捉到猎物,不知道您是不是他的菜.</p>
                                </div>
                            	<div class="one_fourth columns">
                                	<div class="img-wrapper">
                                        <div class="rollover">
                                        <div class="text-wrapper">
                                            <div class="text">
                                            <ul class="sn-team">
                                            	<li><a href="#" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                                <li><a href="#" title="Twitter"><span class="icon-img twitter"></span></a></li>                                                
                                                <li><a href="#" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                            </ul> 
                                            </div>
                                        </div>
                                        </div>
                                        <img src="{% static 'qihuan/images/content/team2.jpg' %}" alt="" />
                                    </div>
                                	<h5>大脸猫</h5>
                                    <div class="separator dotted"></div>
                                    <p>撒娇卖萌,7连招,让您甜到心里,笑在眼里.</p>                         
                                </div>
                            	<div class="one_fourth columns">
                                	<div class="img-wrapper">
                                        <div class="rollover">
                                        <div class="text-wrapper">
                                            <div class="text">
                                            <ul class="sn-team">
                                            	<li><a href="#" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                                <li><a href="#" title="Twitter"><span class="icon-img twitter"></span></a></li>                                                
                                                <li><a href="#" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                            </ul> 
                                            </div>
                                        </div>
                                        </div>
                                        <img src="{% static 'qihuan/images/content/team3.jpg' %}" alt="" />
                                    </div>
                                	<h5>仙女二</h5>
                                    <div class="separator dotted"></div>
                                    <p>奇葩队友多,二货队友多,猪一样的队友多,就是因为这样的货多....</p>
                                </div>
                            	<div class="one_fourth columns">
                                	<div class="img-wrapper">
                                        <div class="rollover">
                                        <div class="text-wrapper">
                                            <div class="text">
                                            <ul class="sn-team">
                                            	<li><a href="#" title="Facebook"><span class="icon-img facebook"></span></a></li>
                                                <li><a href="#" title="Twitter"><span class="icon-img twitter"></span></a></li>                                                
                                                <li><a href="#" title="Pinterest"><span class="icon-img pinterest"></span></a></li>
                                            </ul> 
                                            </div>
                                        </div>
                                        </div>
                                        <img src="{% static 'qihuan/images/content/team4.jpg' %}" alt="" />
                                    </div>
                                	<h5>大哥大</h5>
                                    <div class="separator dotted"></div>
                                    <p>犹如定海神针,稳定军心,凝结力量,石破天惊,大可顶天,小可入耳.</p>
                                </div>
                            </div>
        
                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    {% endblock main_content %}
           }
