{% extends 'base.html' %}
{% load staticfiles %}



{% block current_menu %}
                    <ul id="topnav" class="sf-menu">                        
                        <li><a href="{% url 'qihuan:index' %}">首页</a></li>
                        <li  class="current"><a href="{% url 'qihuan:about' %}">相关</a>
                            <ul>
                                <li><a href="{% url 'qihuan:forum' %}">论坛</a></li> 
                                
                                <li><a href="javascript:;">下载</a>
                                    <ul>
                                        <li><a href="#">项目</a></li>
                                        <li><a href="#">文章</a></li>
                                        <li><a href="#">图片</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{% url 'qihuan:reptile' %}">爬虫</a></li>
                        <li><a href="{% url 'qihuan:intelligence' %}">人工智能</a></li>
                        <li><a href="{% url 'blog:index' %}">博客</a></li>
                        <li><a href="{% url 'qihuan:contact' %}">联系</a></li>  
                        <li><a href="javascript:;">商城</a></li>  
                    </ul><!-- topnav -->
{% endblock current_menu %}


{% block base_slider %}
        
        <!-- TITLE -->
        <div id="outertitle">
        	<div class="container">
                <div class="row">
                <div class="twelve columns">
                	<h1 class="pagetitle">论坛</h1>
                </div>
                </div>
            </div>
        </div>
        <!-- END TITLE -->
{%　endblock base_slider %}
{% block main_content %}
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">
                            	
                                <div class="row">
                                	<div class="one_half columns">
                                    	<h3>话题</h3>
                                        <div class="tabcontainer">
                                            <ul class="tabs">
                                                <li class="active"><a href="#tab0">文明</a></li>
                                                <li><a href="#tab1">人类</a></li>
                                                <li><a href="#tab2">地球</a></li>
                                            </ul>
                                            <div class="tab-body">
                                                <div class="tab-content" id="tab0">
                                                <p>文明是人类社会必须面对的问题,必须深入研究分析,探讨分享,传播.这是人类的社会性决定的.为何有的文明会消失,有的文明却永存不朽.</p>
                                                <p>文明是一个民族,一个国家,整个世界的共同财富,文明的产生,发展,传播.将带给人类新的理念,新的思想,新的生活方式,文明是人类存在的一种方式,一种思维.</p>
                                                </div>
                                                <div class="tab-content" id="tab1">
                                                <p>人类,这个话题,可大可小,关于我们从哪里来,到哪里去...,</p>
                                                </div>
                                                <div class="tab-content" id="tab2">
                                                <p>地球是我们人类的家园,没有地球就不会有人类.地球目前提供了如此优美的环境,丰富的物质,让我们人类可以快乐,自有健康的生活.那么如何让地球更健康,地球的来源,地球的发展,形成,是我们必须要探究讨论的.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="one_half columns">
                                    
                                        <h3>更多</h3>
                                        <div class="toggle">
                                        
                                            <h2 class="trigger"><span>宇宙的起源</span></h2>
                                            <div class="toggle_container">
                                                <div class="block">
                    
                                                    <p>一个充满物质和射线的、致密的、膨胀中的、并且均一的宇宙开始了！在物理定律的作用下，138亿年后形成了我们看到的神奇宇宙，这里有非常多的恒星、星系、星系团、大尺度纤维，这里有数万亿存在岩石行星、液态水和生命的机会。但目前我们的可见宇宙到底有多大，我们能够探索到什么程度呢？</p>
                                                </div>
                                            </div>
                                        
                                        
                                            <h2 class="trigger"><span>生命起源</span></h2>
                                            <div class="toggle_container">
                                                <div class="block">
                                                    <p>生命的内涵是指在宇宙发展变化过程中自然出现的存在一定的自我生长、繁衍、感觉、意识、意志、进化、互动等丰富可能的一类现象，其外也可以包括生化反应产生的能够自我复制的氨基酸结构，以及真菌、细菌、植物、动物（人类），就未来的发展可能而言，人工制造或者促成的机器复杂到一定程度，具备了某种符合生命内涵的基本属性的现象也将可能纳入生命的范畴，包括人机混合体，纯自由意志人工智能机器人等。</p>

                                                    <p>另外，就目前保守的生命定义而言，已知的自然演化而成的生命具有较为显著的分形特征，而这一特征在目前界定的非生命自然现象中普遍存在。（参考定义：广义的生命泛指变化和运动，狭义的生命指有机生物体，狭义的生命只是广义的生命中的一种类型。一切都在变化和运动，所以从广义的角度，一切都是有生命的，宇宙也是有生命的，在不断变化发展。）</p>
                                                </div>
                                            </div>
                                        
                                        
                                            <h2 class="trigger"><span>人生</span></h2>
                                            <div class="toggle_container">
                                                <div class="block">
                                                    <p>人生，就是人类从出生至死亡所经历的过程，在这当中我们必将经历波折坎坷，经历喜怒哀乐，悲欢离合。唯有如此，才是真正的人生。人的一生不可能一帆风顺，也可以说是人的一生从稚嫩到成熟到老练的一种过程。因其拥有的哲理性、深邃性，使之成为文学、影视等艺术作品的永恒主题。</p>
                                                    <p>人生，就是人类从出生至死亡所经历的过程，在这当中我们必将经历波折坎坷，经历喜怒哀乐，悲欢离合。唯有如此，才是真正的人生。人的一生不可能一帆风顺，也可以说是人的一生从稚嫩到成熟到老练的一种过程。因其拥有的哲理性、深邃性，使之成为文学、影视等艺术作品的永恒主题。</p>
                                                </div>
                                            </div>                    
                                        

                                        
                                        </div><!-- end toggle -->
                                    
                                    </div>
                                </div>

                                <div class="separator"></div>
                                
                            	<div class="row">
                                	<div class="one_half columns">
                                    	<h3>假如给我三天光明</h3>
                                        <img src="images/content/post-latest.jpg" alt="" class="alignleft" />
                                        <p>假如给我三天光明】她是一个不幸的人，1岁半丧失视力和听力，一生感受不到声与光；她是“不可征服的人”，艰难学会说话，掌握5种文字，完成《我的生活》等著作，致力帮助盲人和聋哑人。</p>
                                        <p>1968年的今天，美国作家海伦·凯勒逝世。当你遇到困难时，不妨读她的话“面对光明，阴影就在我们身后”。共勉！（人民网）/p>
                                    </div>
                                    <div class="one_half columns">
                                    	<h3>江湖</h3>
                                        <table>
                                            <thead>
                                                <tr>
                                                <th>意大利黑手党</th>
                                                <th>雅库扎</th>
                                                <th>墨西哥贩毒集团</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>教父</td>
                                                <td>罗斯切尔德家族</td>
                                                <td>约翰.肯尼迪</td>
                                                </tr>
                                                <tr class="even">
                                                <td>拿破仑</td>
                                                <td>物理学</td>
                                                <td>爱因斯坦</td>
                                                </tr>
                                                <tr>
                                                <td>洪门</td>
                                                <td>地狱天使</td>
                                                <td>战斧</td>
                                                </tr>
                                                <tr class="even">
                                                <td>竹联帮</td>
                                                <td>麦德林</td>
                                                <td>奥乔亚</td>
                                                </tr>
                                                <tr>
                                                <td>奥乔亚</td>
                                                <td>俄罗斯黑帮</td>
                                                <td>大圈帮</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            	<div class="separator"></div>
                                
                            	<div class="row">
                                <div class="one_half columns">
									<h1>三合会犯罪活动威胁全世界</h1>
                                    <p>香港黑帮三合会被认为是世界上最大也最令人惧怕的有组织犯罪团伙。这个活动诡秘、组织严密、触角遍布全球的黑帮从事的非法活动包括贩毒、勒索、色情、绑架、组织偷渡、各种造假和欺诈、盗版录象、放高利贷和赌博等。据一名西方专家和作家的估计，三合会经手了世界上90%的海洛因交易。由于该团伙行事高度隐秘，在考证其活动范围和程度时，很难区分传闻和事实。但《龙记辛迪加》（The Dragon Syndicate）一书的作者布斯（Martin   Booth）试图对三合会的帮派文化作较深入的探索。他援引联合国消息来源说，三合会是人们所知道的对世界构成最大潜在威胁的黑帮。.</p>
                                </div>
                                <div class="one_half columns">
									<h2>嚣张加拿大的黑帮：地狱天使</h2>
                                    <p>60年代，一群骑着大功率摩托车四处乱逛的美国嬉皮士创造了这个名词。这些穿着黑色皮衣、蓄着落腮胡子，肥胖粗鲁、决不洗澡的家伙沿着高速公路穿行北美，吓坏了许多宁静的村镇，也吸引了不少崇拜者加入。到了80年代，厌倦了流浪的“天使”们在加拿大成立了地狱天使黑帮，目前已茁壮成长为加拿大的第一黑帮。总部设在蒙特利尔，成员约4万人，以贩毒为主业。</p>
                                </div>
                                </div>
                               
                                <div class="separator"></div>

                                <div class="row">
                                <div class="one_third columns">
                                	<h3>技术变化那么快，程序员如何做到不被淘汰？</h3>
                                    <p>中国有很多年轻人，他们18,9岁或21,2岁，通过自学也写了不少代码，他们有的代码写的很漂亮，一些技术细节相当出众，也很有钻研精神，但是他们被一些错误的认识和观点左右，缺乏对系统，对程序的整体理解能力，这些人，一个网上的朋友说得很好，他们实际fans，压根没有资格称为程序员。</p>
                                </div>
                                <div class="one_third columns">
                                	<h4> 团队精神和协作能力</h4>
                                    <p>把它作为基本素质，并不是不重要，恰恰相反，这是程序员应该具备的最基本的，也是最重要的安身立命之本。把高水平程序员说成独行侠的都是在呓语，任何个人的力量都是有限的，即便如linus这样的天才，也需要通过组成强大的团队来创造奇迹，那些遍布全球的为linux写核心的高手们，没有协作精神是不可想象的。独行侠可以作一些赚钱的小软件发点小财，但是一旦进入一些大系统的研发团队，进入商业化和产品化的开发任务，缺乏这种素质的人就完全不合格了</p>
                                </div>
                                <div class="one_third columns">
                                	<h5>文档习惯</h5>
                                    <p>说高水平程序员从来不写文档的肯定是乳臭未干的毛孩子，良好的文档是正规研发流程中非常重要的环节，作为代码程序员，30%的工作时间写技术文档是很正常的，而作为高级程序员和系统分析员，这个比例还要高很多。缺乏文档，一个软件系统就缺乏生命力，在未来的查错，升级以及模块的复用时就都会遇到极大的麻烦。</p>
                                </div>
                                </div>
                                
                                <div class="separator"></div>
                                
                                <div class="row">
                                    <div class="one_fourth columns">
										<h4> 规范化，标准化的代码编写习惯</h4>
                                        <p>作为一些外国知名软件公司的规矩，代码的变量命名，代码内注释格式，甚至嵌套中行缩进的长度和函数间的空行数字都有明确规定，良好的编写习惯，不但有助于代码的移植和纠错，也有助于不同技术人员之间的协作。
fans叫嚣高水平程序员写的代码旁人从来看不懂，这种叫嚣只能证明他们自己压根不配自称程序员。代码具有良好的可读性，是程序员基本的素质需求。
再看看整个linux的搭建，没有规范化和标准化的代码习惯，全球的研发协作是绝对不可想象的。</p>
                                    </div>
                                    <div class="one_fourth columns">
										<h4>除了北上广深，搞互联网的你还可以选择哪几个城市......</h4>
                                        <p>对于大多数想从事互联网的同学来说，北上广深通常是找工作或者创业的首选。可是这些城市的房价，物价让很多同学都望而却步。</p>
                                    </div>
                                    <div class="one_fourth columns">
										<h4>杭州  </h4>
                                        杭州这个城市，可谓是有良好的互联网基因，不但有BAT级别的一线互联网上市企业，如阿里巴巴、网易、百度在杭州的分部等；还有很多上亿美金的中型互联网公司，如蘑菇街，快的打车，蚂蚁金服，丁香园等，天使轮，A轮等小公司和创业公司更是数不胜数，天使投资规模位居全国第二。
据悉：杭州人口共计946万，其中有163万为互联网人，也就是说，杭州这座城市有约1/5的人在做互联网。
                                    </div>
                                    <div class="one_fourth columns">
										<h4>成都 </h4>
                                        <p>一直以来，成都给人的印象是生活节奏慢、人们特别会享受生活，但是成都的创业圈子却非常活跃，被誉为中国IT第五城。如果你既想享受成都舒适的生活节奏，又想在大公司工作，没问题，阿里、新浪、腾讯、华为等大厂在成都设有分布；另外，前两天刚在鸟巢火了一把的锤子科技，也在成都成立了成都锤子科技集团有限公司。
在这座高新园区里不仅坐落着大公司，还有数以百计的初创公司。主要园区包括天府软件园、孵化园、天府新谷等，初创企业有Camera360、天象互动等，聚集行业主要为移动互联（游戏、APP和O2O等）、互联网及软件外包。
所以，在成都从事互联网工作，你绝对可以过得很滋润</p>
                                    </div>
                                </div>
                                
                                <div class="separator"></div>
                                
                                <h3>武汉</h3>
                                <div class="row">
                                    <div class="one_third columns">
                                    <p><span class="dropcap1">L</span>近年来，武汉也吸引了外来资本和企业关注，2016年武汉光谷各类互联网企业融资额29亿元，超过历年总和。
武汉，已经吸引了包括小米、腾讯、中兴、华为、联想、奇虎 360 等在内的多家知名企业。</p>
                                    </div>
                                    <div class="one_third columns">
                                    <p><span class="dropcap2">L</span>尤其是被称为武汉科技前沿的光谷，也似乎越来越有点“华中硅谷”的意味了。另外，武汉本地的互联网企业也可以说是非常争气：斗鱼、石墨文档、Acfun、木仓科技等众多企业，着实都为“武汉系”增了光，也为互联网从业者提供了众多优质的职位！
武汉光谷现在雄心勃勃，要3年培育10个独角兽。</p>
                                    </div>
                                    <div class="one_third columns">
                                    <p><span class="dropcap3">L</span>整个湖北则希望武汉能成为中国互联网第四城。
从下图中可以看出，对于技术人员来说，武汉的薪资水平也已经达到了万元级的水平。如果再加上武汉的物价，绝对能让你过得非常滋润！相对北上深来说，武汉中心城区平均房价不到2万，城市又处于中部，到北京、上海、深圳都非常方便，武汉最高时期拥有130万的大学生，是一个很理想的生活工作的地方。</p>
                                    </div>
                                </div>
                                
                                <div class="separator"></div>
                                
                                <h3>云计算的信心危机?不要惊慌：这很正常</h3>
                                
                                       <p>你还记得第一次听到“云计算”这个术语是什么时候吗?显然，如果人们忽略了20世纪60年代诞生的数据中心模型。1994年的一篇名为“Bill&Andy的优秀冒险II” 的文章中首次提到了“云计算”，这是一篇主要描述Telescript的分布式编程语言的文章。康柏公司首次提到云计算这个术语出现在该公司1996年的内部文件中。而在2006年，谷歌公司当时的首席执行官Eric Schmidt在一次行业会议上使用了这个术语，而在同一年，亚马逊公司创建了子公司亚马逊网络服务公司(AWS)时，并推出了其弹性计算云(EC2)。对大多数人来说，可能是在那时听说了“云计算”这个术语。</p>

<p>果是2006年首次听说的话，那么已经是12年前了。虽然网络服务商、应用程序服务提供商、存储服务提供商以及SaaS提供商都已经走了很长的发展之路，但似乎只有在过去的三四年中，大多数企业才开始急于采用云计算</p>

										<blockquote> 这种匆忙的应用已不再是前8年普遍存在的相对稳定且更加严谨的云计算方法。为什么会这样?也许“数字原生”一代(其中包括1980年以后出生的人)现在已经在组织的决策职位上获得了一定的地位?也许这项技术已经成熟了?但这肯定是一个相关的问题，因为专家认为在接下来的几年中人们可能会看到对云计算的信心。</blockquote>
								
                                <p>专家预计，人们对“云计算”的信心在2019年达到峰值，然而可能在2020年崩溃，并在2022年复苏信心，这建立在更好的业务分析和更真实的云计算期望之上。最后，将正确地评价混合云环境，这是人们最终得到的结果。从本质上讲，人们每天都能看到这一点，就像调查机构Gartner公司指出的云计算的炒作周期一样，人们目前对于云计算的预期迅速攀升</p>

<p>专家认为，目前对“全云”基础设施的冲击是由数字传道者的关键群体推动的。也许是之前提到过的那些数字原生一代，他们相信一切都可以而且应该是数字的，并且是变换的。无论是供应商和服务提供商无意的帮助和鼓励，这些传道者都热衷于新技术的应用和实施，现在可以说服他们的企业领导者进行业务转型，并降低更多的成本。而这些传道者的信仰是绝对的：人们经常听到的是“一切都必须在云中”。 </p>
                            
                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
{% endblock main_content %}
    }
