{% extends 'base.html' %}
{% load staticfiles %}


{% block current_menu %}
                    <ul id="topnav" class="sf-menu">                        
                        <li><a href="{% url 'qihuan:index' %}">首页</a></li>
                        <li><a href="{% url 'qihuan:web' %}">WEB</a>
                           
                        </li>
                        <li    class="current"><a href="{% url 'qihuan:reptile' %}">爬虫</a></li>
                        <li><a href="{% url 'qihuan:intelligence' %}">人工智能</a></li>
                        <li><a href="{% url 'blog:index' %}">博客</a></li>i
                        <li><a href="{% url 'qihuan:download' %}">下载</a></li>  
                       <li><a href="https://github.com/wangdengkai?tab=repositories">MyGit</a></li>  
                    </ul><!-- topnav -->
{% endblock current_menu %}
    
        {% block base_slider %}        
        <!-- TITLE -->
        <div id="outertitle">
        	<div class="container">
                <div class="row">
                <div class="twelve columns">
                	<h1 class="pagetitle">爬虫</h1>
                </div>
                </div>
            </div>
        </div>
        <!-- END TITLE -->
        {% endblock base_slider %}
{% block main_content %}
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">
                            {% for sub_list in project_list %}
                                
    							     <div class="row">
                                        {% for project in sub_list %}
                                            
                                        	<div class="one_fourth columns">
                                                <a href="{{ project.pro_href }}">
                                                	<div class="box">
                                                	<img src="{{ project.pro_small.url }}" alt="" />
                                                	<h2>{{ project.pro_name }}<small class="f-col-r">点击体验</small></h2>
                                                </a>
                                                <div class="separator"></div>
                                                <p>{{ project.pro_info |safe }}</p>
                                                </div>
                                            </div>

                                        {% empty %}
                                            <h3>暂时没有相关项目</h3>
                                        {% endfor %}
                            {% empty %}
                                
                                        
                                </div>
                            {% endfor %}

                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock main_content %}     
       