{% extends "base.html" %}


{% block link %}
	     <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock link %}

{% block main_content %}


<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile text-center">
               <h3 > 新密码设置成功</h3>
            <p>
                你的口令己经设置。现在你可以继续进行登录。
            </p>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}