{% extends 'base.html' %}

{% load staticfiles %}





{% block base_slider %}
        <!-- SLIDER -->
        <div id="outerslider">

                <div id="slidercontainer">
                
                    <div class="camera_wrap camera_azure_skin" id="camera">        
                        <div data-src="{% static 'qihuan/images/content/slide6.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                                <span>浩瀚星空 <br />
                               无限可能<br />
                               年少轻狂<br />
                                何不畅想未来...</span> 
                                <a class="button" href="http://www.stdaily.com/">一探究竟</a>
                            </div>
                        </div>
                        <div data-src="{% static 'qihuan/images/content/slide2.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                               <span>落叶归根<br />
                                人生如梦<br />
                                把酒言欢<br />
                                忆往昔峥嵘岁月...</span> 
                               <a class="button" href="http://www.lszj.com/">一探究竟</a>
                            </div>
                        </div>
                        <div data-src="{% static 'qihuan/images/content/slide1.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                                 <span>夜幕星河<br />
                                携老扶幼<br />
                                闲谈信步<br />
                                且行且珍惜...</span> 
                                 <a class="button" href="http://www.rsdyy.com/">一探究竟</a>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
        <!-- END SLIDER -->
{% endblock base_slider %}



{% block main_content %}
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">

							<div class="row featuredpages">
                            	<div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon1.png' %}" alt="" /></div>
                                	<a href="http://www.newskj.org/"><h2>科技新闻</h2>
                                    <p>科技是第一生产力,了解科技,把握先机....=>></p></a>
                                </div>
                                <div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon2.png' %}" alt="" /></div>
                                	<a href="http://www.msweekly.com/index.html"><h2>民生百态</h2>
                                    <p>了解国内民生百态,洞悉世间深情....=>></p></a>
                                </div>
                                <div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon3.png' %}" alt="" /></div>
                                	<a href="http://www.innoglobal21.com/"><h2>全球创新中心</h2>
                                    <p>未来在哪里!创新中心创造未来....=>></p></a>
                                </div>
                            </div>
                            
                            <div class="projects-shortcode">
                            	<div class="row">
                                	<div class="three columns">
                                    	<h2>美好时光</h2>
                                        <p>生活之美在乎细节<br>细心用心方能发现处处皆美 <br><small></small></p>
                                        <a href="#" class="prev"></a><a href="#" class="next"></a>
                                    </div>
                                    <div class="nine columns">
                                        <div class="carousel-div">                                
                                        	<ul class="carousel1">
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_1.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>生活细节</h2>
                                                                <p>点点滴滴,可穿石,亦可穿人心...</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_1.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_2.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>岁月静好</h2>
                                                                <p>夜幕黄昏,小船飘飘,感天地辽阔. </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_2.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_3.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>海上漂流</h2>
                                                                <p>海天一线,波涛汹涌,壮志豪情永不休</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_3.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_4.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>东临碣石</h2>
                                                                <p>塞外匈奴残暴,边塞铁军稳如山</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_4.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_5.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>都是风情</h2>
                                                                <p>来也匆匆,去也匆匆,维有高楼平地耸. </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_5.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_6.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>科技未来</h2>
                                                                <p>天眼一开,未来妙哉!快去探索未来吧!</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_6.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                              </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>
                               
							<div class="row post-shortcode">
                            	<div class="one_third  columns">
                                	<h2 class="text-center">逍遥游<br />上可直达九天<br/>下能遨游四海 <br/></h2>
                                    <div class="entry-utility">2018年3月20日</div>
                                    <a href="http://travel.ifeng.com/"><img src="{% static 'qihuan/images/content/post1.jpg' %}" alt="" class="frame"/></a>
                                    <p>“鹏之徙于南冥也，水击三千里，抟（tuán）扶摇而上者九万里，去以六月息者也。”野马也，尘埃也，生物之以息相吹也。天之苍苍，其正色邪？其远而无所至极邪？其视下也，亦若是则已矣。"游乎四方,行于宇内!长知识,开眼界,益身心,赶紧策马奔腾旅游吧...</p>
                                    <a href="http://travel.ifeng.com/" class="button">说走就走</a>
                                </div>
                                <div class="one_third  columns">
                                	<h2 class="text-center">科技改变未来 <br /> <br/>技术成就人生 <br/></h2>
                                    <div class="entry-utility">2018年3月20日</div>
                                    <a href="http://www.eetrend.com/"><img src="{% static 'qihuan/images/content/post2.jpg' %}" alt="" class="frame"/></a>
                                    <p>什么知识最有价值？一致的答案就是科学!科学在今天是我们的思维方式，也是我们的生活方式，是我们人类精神所发展到的最高阶段。大胆设想，小心求证。看来大胆还是必要的，当然大胆要建筑在扎实工作基础上。勇敢踏出第一步吧!也许你就是下一个爱因斯坦...</p>
                                    <a href="http://www.eetrend.com/" class="button">科技达人</a>
                                </div>
                                <div class="one_third  columns">
                                	<h2 class="text-center">我所向往的都市生活 <br /><br/>方便 高效 自由 希望 美好 </h2>
                                    <div class="entry-utility">2018年3月20日</div>
                                    <a href="http://www.yoka.com/dna/122/732/index.html"><img src="{% static 'qihuan/images/content/post3.jpg' %}" alt="" class="frame"/></a>
                                    <p>百舸争流千帆竞，乘风扬帆奋者先!都市生活自有酸甜苦辣咸,高楼大厦林立，小区住宅成排。四通八达的道路，错落有致的高架，蜘蛛网一样的地铁，可到达这座城市的每一个角落,宽广的道路，整齐的行道树。往来的公交车，大型收割机留下稻草的水田，配套的休闲公园...</p>
                                    <a href="http://www.yoka.com/dna/122/732/index.html" class="button">美好生活跳起来</a>
                                </div>
                            </div>

                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock main_content %}
