{% extends 'base.html' %}

{% load staticfiles %}





{% block base_slider %}
        <!-- SLIDER -->
        <div id="outerslider">

                <div id="slidercontainer">
                
                    <div class="camera_wrap camera_azure_skin" id="camera">        
                        <div data-src="{% static 'qihuan/images/content/slide6.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                                <span>浩瀚星空 <br />
                               无限可能<br />
                               年少轻狂<br />
                                何不畅想未来...</span> 
                                <a class="button" href="#">一探究竟</a>
                            </div>
                        </div>
                        <div data-src="{% static 'qihuan/images/content/slide2.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                               <span>落叶归根<br />
                                人生如梦<br />
                                把酒言欢<br />
                                看破红尘...</span> 
                               <a class="button" href="#">一探究竟</a>
                            </div>
                        </div>
                        <div data-src="{% static 'qihuan/images/content/slide1.jpg' %}">
                            <div class="camera_caption fadeFromBottom">
                                 <span>夜幕星河<br />
                                携老扶幼<br />
                                闲谈信步<br />
                                且行且珍惜...</span> 
                                 <a class="button" href="#">一探究竟</a>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
        <!-- END SLIDER -->
{% endblock base_slider %}



{% block main_content %}
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                	<section id="maincontent" class="twelve columns">
                    
                        <section class="content">

							<div class="row featuredpages">
                            	<div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon1.png' %}" alt="" /></div>
                                	<h2>科技新闻</h2>
                                    <p>小米系券商老虎证券国际完成5亿C轮融资 估值10.6亿美元成新独角兽</p>
                                </div>
                                <div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon2.png' %}" alt="" /></div>
                                	<h2>民生百态</h2>
                                    <p>西安华夏文旅水世界丝路电音节，7月14至15日燃爆大西安</p>
                                </div>
                                <div class="one_third  columns">
                                	<div class="icon"><img src="{% static 'qihuan/images/icon/icon3.png' %}" alt="" /></div>
                                	<h2>创意荟萃</h2>
                                    <p>新型落地窗系统，让你同时拥有落地窗与阳台</p>
                                </div>
                            </div>
                            
                            <div class="projects-shortcode">
                            	<div class="row">
                                	<div class="three columns">
                                    	<h2>最新热点</h2>
                                        <p>女子造谣称镇水神兽被挖<br>致成都连年大雨被处罚 </p>
                                        <a href="#" class="prev"></a><a href="#" class="next"></a>
                                    </div>
                                    <div class="nine columns">
                                        <div class="carousel-div">                                
                                        	<ul class="carousel1">
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_1.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>时政报道</h2>
                                                                <p>习近平：中央和国家机关要做到“三个表率，一个模范 </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_1.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_2.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>财经热点</h2>
                                                                <p>商务部：中美未就总体谈判进行接触 </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_2.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_3.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>互联网</h2>
                                                                <p>专访金沙江朱啸虎：映客上市只是起点 中国互联网不缺创新 </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_3.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_4.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>游戏专区</h2>
                                                                <p>鬼语迷城月流水破亿“核心+多元化”布局初成</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_4.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_5.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>情感专区</h2>
                                                                <p>妹妹挑唆我离婚 她却向我丈夫表白 </p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_5.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="img-wrapper">
                                                        <a class="image" href="{% static 'qihuan/images/content/pf/pf3_6.jpg' %}" data-rel="prettyPhoto[mixed]" >
                                                        <div class="rollover">
                                                        <div class="text-wrapper">
                                                            <div class="text">
                                                                <h2>历史专区</h2>
                                                                <p>周恩来临终前牵挂两位张姓朋友 除了张学良还有谁</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <img src="{% static 'qihuan/images/content/pf/pf3_6.jpg' %}" alt=""/>
                                                        </a>						
                                                    </div>
                                                </li>
                                              </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>
                               
							<div class="row post-shortcode">
                            	<div class="one_third  columns">
                                	<h2>鬼语迷城》月流水破亿三七互娱国内手游业务 <br/></h2>
                                    <div class="entry-utility">2018年10月20日</div>
                                    <a href="single.html"><img src="{% static 'qihuan/images/content/post1.jpg' %}" alt="" class="frame"/></a>
                                    <p>在行业固有印象中，三七互娱过往成绩斐然的产品均为西方魔幻题材，无论是页游中的《传奇霸业》还是手游上的《永恒纪元》。而《鬼语迷城》则是一款以国漫盗墓为题材的MMOARPG手游，玩家将在游戏中穿越沙漠、雪山、遗迹和丰富的地宫场景，体验分金定穴、点烛开棺、多种机关玩法。从游戏题材上，《鬼语迷城》可谓开创了三七互娱这一细分品类的先河。</p>
                                    <a href="single.html" class="button">更多</a>
                                </div>
                                <div class="one_third  columns">
                                	<h2>妹妹挑唆我离婚 <br /> <br/>她却向我丈夫表白 <br/></h2>
                                    <div class="entry-utility">2018年10月20日</div>
                                    <a href="single.html"><img src="{% static 'qihuan/images/content/post2.jpg' %}" alt="" class="frame"/></a>
                                    <p>亲是生意人，母亲是家庭主妇，我是家里长女，妹妹小我两岁。父母是带着生儿子的期许，把妹妹生下来的。对此，父母多少有点失望。以至于，在妹妹成长过程中，父母有点不满，即父母对我比对妹妹好很多。</p>
                                    <a href="single.html" class="button">更多</a>
                                </div>
                                <div class="one_third  columns">
                                	<h2>周恩来临终前牵挂两位张姓朋友 <br /> 除了张学良还有谁 </h2>
                                    <div class="entry-utility">2018年10月20日</div>
                                    <a href="single.html"><img src="{% static 'qihuan/images/content/post3.jpg' %}" alt="" class="frame"/></a>
                                    <p>周恩来要求张镇，请他绝对保证毛主席的安全。张镇立即表示：“请周主任放心，晚会结束后，我陪毛先生乘坐我的车，不论哪方特务，恐怕都还没胆向宪兵司令的汽车开枪。</p>
                                    <a href="single.html" class="button">更多</a>
                                </div>
                            </div>

                        </section>
                    
                	</section>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
{% endblock main_content %}
