{% extends "blog/index.html" %}
{% load highlight %}
{% load staticfiles %}


{% block post_content %}
	{% if query %}

	
		  <div id="hide_sea">
			
				{% for result in page.object_list %}
					<article class="post">
                                    <h2 class="posttitle"><a href="{% url 'blog:detail' result.object.pk %}">{% highlight result.object.title with query %}</a></h2>
                                    <div class="entry-utility">
                                        {{ result.object.modify_time }} <a href="#">{{ result.object.author }}</a>
                                    </div>
                                    <div class="postimg frame">
                                        <img src="{{ result.object.post_img.url  }}" alt=""  />
                                    </div>
                                    <div class="entry-content">
                                        <p>{% highlight result.object.summary with query %}</p>
                                        <a href="{% url 'blog:detail' result.object.pk %}" class="button">查看详情</a>
                                    </div>
                    </article>

					
				{% empty %}
			
				<h5>没有搜索到相关文章,请修改关键字试试</h5>
			{% endfor %}
			
		  

	{% endif %}

{% endblock post_content %}