{% extends 'base.html' %}

{% block link %}
	     <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
{% endblock link %}

{% block main_content %}
	
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">

				
				    
				    {% block content %}
				    {% endblock content  %}

				    {% block extra_body %}

				    {% endblock extra_body %}

		


           </div>
        </div>
    </div>
</div>

{% endblock main_content %}