{% extends 'blog/index.html' %}

{% load staticfiles %}
{% block base_slider %}
        <!-- TITLE -->
        <div id="outertitle">
        	<div class="container">
                <div class="row">
                <div class="twelve columns">
                	<h1 class="pagetitle">{{ post.title }}</h1>
                </div>
                </div>
            </div>
        </div>
        <!-- END TITLE -->
{% endblock base_slider %}
{% block link %}
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css"> 
{% endblock link %}


{% block section %}
                    
                            <section class="content">
                            
                                <article class="post">
                                    
                                    <div class="entry-utility"><a href="#">{{ post.author }}|</a>  {{ post.modify_time }}                                     
                                    </div>
                                    {% if post.post_img != '0' %}
                                        <div class="postimg frame">
                                            <img src="{{ post.post_img.url }}" alt=""  />
                                        </div>
                                    {% endif %}
                                    <div class="entry-content">
                                        {{ post.body |safe }}
                                    </div>
                                </article>
                                
								
                                
								<div id="entry-author-info">
                                	<h4>博主详情</h4>
                                    <div id="author-avatar">
                                        <img alt="" src="{% static 'qihuan/images/content/author.gif' %}" class="frame">                                
                                    </div><!-- author-avatar -->
                                    <div id="author-description">
                                        <div class="author">博主:玄锷无梦</div>
                                        <p>玄锷无梦,通信工程专业高材生!<br/>熟悉掌握python
                                        语言,熟悉python框架flask,django,scrapy等<br/>
                                        对人工智能也有研究.对于redis,mysql等数据库也很熟悉.linux熟练使用.分布式系统熟练掌握. <br/>结合以上技术开发了很多相关项目.</p>
                                          
                                    </div><!-- author-description	-->
                                    <div class="clear"></div>
                                </div>  
                                <p>
                                <a href="{% url 'blog:like' post.pk 1 %} " id="cpostlike" class="flo-l"><img  class='like ' src="{% static 'blog/images/like.jpg' %}"/>(<span id="likenumber">{{ post.like_number }}</span>)</a>
                                
                                <a  id="postcom" data-postid="{{ post.pk }}"  data-commonid=0 class="req_common flo-r">
                                <img  class='common ' src="{% static 'blog/images/common.jpg' %}"/>评论</a>
                                </p>
                                

                                <div class="sub_common bg-col-FAD">                        
								<section id="comment">

                                    
                                </section>                       
                                
                            </section>
                            
 						</div>
                     
                    </section>
{% endblock section %}



{% block add_index_js %}
<script type="text/javascript" src="{% static 'blog/js/send_post.js' %}"/> 
  
{% endblock add_index_js %}